
Resulting_Mesh_Convergence.xlsx
~$Resulting_Mesh_Convergence.xlsx
S193761_Left_Cartilage_Femur_Hex_Mesh_no_over_validation.inp
S193761_Left_Cartilage_Tibia_Lateral_Hex_Mesh_no_over_validation.inp
Proposed_Additional_Metrics.docx
